<form *ngIf="!result" [formGroup]="formGroup" >
  <h1> {{listing?'Update':'New'}} Listing</h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name">
    <mat-error *ngIf="name.invalid">Name should not be empty</mat-error>
  </mat-form-field>
  <div>
  <mat-form-field>
    <mat-label>Price:</mat-label>
    <input matInput type="number" [formControl]="price" >
    <mat-error *ngIf="price.hasError('required')">Please, type price with digits</mat-error>
      </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>City name</mat-label>
    <input matInput [formControl]="city">
    <mat-error *ngIf="city.invalid">Please, type city name</mat-error>
  </mat-form-field>

  <div>
    <button class="open-button form-button" [disabled]="formGroup.invalid" (click)="saveListing()">{{listing?'Update':'Create'}}</button>
    <button class="cancel-button form-button" (click)="close()">Cancel</button>
  </div>
</form>

<div class="result" *ngIf=" result">
  <h1>Listing <strong> {{result?.name}}</strong> {{listing?'updated':'created'}}</h1>
  <p>Name: <strong>{{result?.name}}</strong></p>
  <div class="half">
    <p>Price: <strong>{{result?.price}}</strong></p>
    <p>Rating <strong>{{result?.rating || 'No any reviews'}}</strong></p>
  </div>
  <p>Сity name: <strong>{{result?.city}}</strong></p>

   <p *ngIf="weatherData">Weather in this sity on selected dates: <strong >{{weatherData}}</strong></p>

  <button  class="open-button form-button" (click)="this.close(result)">Ok</button>
</div>


