h1{
  text-align: center;
}
.button-container {
  display: flex;

  *:first-child {
    width: 90%;
  }

  .mat-icon {
    cursor: pointer;
  }
}
.mat-table {
  width: 300px;
  max-height: 500px;
  overflow: auto;

  th {
    min-width: max-content;
    font-size: 0.8rem;

    &.position-column {
      width: 30%;
    }

    &.name-column {
      width: 30%;
    }

    &.button-column {
      width: 30%;
    }
  }


  td {
    display: table-cell;
    vertical-align: middle;

    .cell-content {
      margin: auto;
      height: 100%;
    }



  }
}
