<div class="button-container">
  <h1>Teams</h1>
  <mat-icon (click)="handleAdd()">add</mat-icon>
</div>
<div  class="creation-form" *ngIf="!data && add">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput (keyup.enter)="createTeam()"  [formControl]="name">
    <mat-error *ngIf="name.invalid">Name should not be empty</mat-error>
  </mat-form-field><br/>
  <mat-checkbox (change)="getHumans()" [(ngModel)]="realHeroOnly">Real only</mat-checkbox>
  <mat-form-field *ngIf="humans&&humans.length>0">
    <mat-label>Select humans</mat-label>
    <mat-select multiple [formControl]="selectedHumans">
      <mat-option *ngFor="let human of humans" [value]="human.id">{{human.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <button class="open-button form-button" (click)="createTeam()">Create team</button>
</div>
<div class="creation-form" *ngIf="data && add">
  <mat-form-field>
    <mat-label>Teams</mat-label>
    <mat-select  [formControl]="teamsControl" multiple>
      <mat-option *ngFor="let team of allTeams" [value]="team.id">{{team.name}}</mat-option>
    </mat-select>
  </mat-form-field><br/>
  <button class="open-button form-button" (click)="createTeam()">Add</button>
</div>

<div class="table-container" *ngIf="!add">
  <h5 *ngIf="!((!data&&allTeams&&allTeams.length>0 )||(data&&teams&&teams.length>0))">No teams found</h5>
<table *ngIf="(!data&&allTeams&&allTeams.length>0 )||(data&&teams&&teams.length>0)"  mat-table [dataSource]="data?teams:allTeams">
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef class="position-column">№</th>
    <td mat-cell *matCellDef="let i = index">
      <div class="cell-content">{{i+1}}</div>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="name-column">Name</th>
    <td mat-cell *matCellDef="let team">
      {{team.name}}
    </td>
  </ng-container>
  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef class="button-column"></th>
    <td mat-cell *matCellDef="let team">
      <div class="button-container cell-content">
        <mat-icon  (click)="makeDepressive(team)">sentiment_very_dissatisfied</mat-icon>
        <mat-icon (click)="deleteTeam(team)">delete</mat-icon>
      </div>
    </td>
  </ng-container>
</table>
  <button class="open-button form-button" (click)="this.close()">Ok</button>
</div>
