<div  *ngIf="request == getRequestType().GET_BY_ID">
<form *ngIf="!result">
  <h1>Get by id</h1>
  <mat-form-field>
    <mat-label>ID</mat-label>
    <input matInput type="number" [formControl]="id">
    <mat-error *ngIf="id.hasError('required')">Please, type id with digits</mat-error>
    <mat-error *ngIf="id.hasError('min')|| id.hasError('max')">Id should be from 1 to 9223372036854775807</mat-error>
  </mat-form-field>
  <div>
    <button class="open-button form-button" [disabled]="id.invalid" (click)="getById()">Get</button>
    <button class="cancel-button form-button" (click)="close()">Cancel</button>
  </div>
</form>
  <div class="result" *ngIf="result">
    <h1>Listing</h1>
    <p>Id: <strong>{{result?.id}}</strong></p>
    <p>Name: <strong>{{result?.name}}</strong></p>
    <div class="half">
      <p>Price: <strong>{{result?.price}}</strong></p>
      <p>Rating <strong>{{result?.rating}}</strong></p>
    </div>
    <p>City name: <strong>{{result?.city}}</strong></p>
    <button class="open-button form-button" (click)="this.close()">Ok</button>
  </div>
</div>


