<form *ngIf="!result" [formGroup]="formGroup" >
  <h1> {{human?'Update':'New'}} human being</h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name">
    <mat-error *ngIf="name.invalid">Name should not be empty</mat-error>
  </mat-form-field>
  <span>Coordinates</span>
  <div class="half" formGroupName="coordinates">
  <mat-form-field>
    <mat-label>X:</mat-label>
    <input matInput type="number" [formControl]="x" >
    <mat-error *ngIf="x.hasError('required')">Please, type x coordinate</mat-error>
    <mat-error *ngIf="x.hasError('type')">Coordinate x should be a number</mat-error>
    <mat-error *ngIf="x.hasError('min') || x.hasError('max')">Coordinate x should be from -706 to 3.40282347e+38</mat-error>
  </mat-form-field>
    <mat-form-field>
      <mat-label>Y:</mat-label>
      <input matInput type="number"  [formControl]="y">
      <mat-error *ngIf="y.hasError('required')">Please, type y coordinate</mat-error>
      <mat-error *ngIf="y.hasError('type')">Coordinate y should be a number</mat-error>
      <mat-error *ngIf="y.hasError('min') || y.hasError('max')">Coordinate y should be from 3.40282347e+38 to 3.40282347e+38</mat-error>
    </mat-form-field>
  </div>
  <div class="half">

    <mat-checkbox [checked]="realHero" (change)="realHero = $event.checked" > <span>Real hero</span></mat-checkbox>


    <mat-checkbox [checked]="hasToothpick" (change)="hasToothpick = $event.checked"><span>Has Toothpick </span></mat-checkbox>

  </div>
    <mat-form-field>
      <mat-label>Impact speed</mat-label>
      <input matInput type="number" [formControl]="impactSpeed">
      <mat-error *ngIf="impactSpeed.hasError('required')">Please, type impact speed</mat-error>
      <mat-error *ngIf="impactSpeed.hasError('type')">Impact speed should be a number</mat-error>
      <mat-error *ngIf="impactSpeed.hasError('min') || impactSpeed.hasError('max')">Impact speed should be from -741 to 3.40282347e+38</mat-error>
    </mat-form-field>
  <mat-form-field>
    <mat-label>Soundtrack name</mat-label>
    <input matInput [formControl]="soundtrackName">
    <mat-error *ngIf="soundtrackName.invalid">Please, type soundtrack name</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minutes of waiting</mat-label>
    <input matInput type="number"  [formControl]="minutesOfWaiting">
    <mat-error *ngIf="minutesOfWaiting.hasError('required')">Please, type minutes of waiting</mat-error>
    <mat-error *ngIf="minutesOfWaiting.hasError('type')">Minutes of waiting should be a number</mat-error>
    <mat-error *ngIf="minutesOfWaiting.hasError('min') || minutesOfWaiting.hasError('max')">Impact speed should be from -1.797e+308 to 1.797e+308</mat-error>
  </mat-form-field>
    <mat-form-field>
      <mat-label>Weapon type</mat-label>
      <mat-select [formControl]="weaponType">
        <mat-option [value]="i" *ngFor="let i of getWeaponType()">
          {{i}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="impactSpeed.invalid">Please, select weapon type</mat-error>
    </mat-form-field>
  <div formGroupName="car">
  <mat-form-field>
    <mat-label>Car name</mat-label>
    <input matInput [formControl]="carName">
  </mat-form-field>
  </div>
  <div>
    <button class="open-button form-button" [disabled]="formGroup.invalid" (click)="saveHumanBeing()">{{human?'Update':'Create'}}</button>
    <button class="cancel-button form-button" (click)="close()">Cancel</button>
  </div>
</form>

<div class="result" *ngIf="result">
  <h1>Human being with {{result?.name}} {{human?'updates':'created'}}</h1>
  <p>Id: {{result?.id}}</p>
  <p>Name: {{result?.name}}</p>
  <span>Coordinates</span>
  <div class="half">
    <p>X: {{result?.coordinates?.x}}</p>
    <p>Y: {{result?.coordinates?.y}}</p>
  </div>
  <p>Creation date: {{result?.creationDate}}</p>
  <p>Real hero: {{result?.realHero?'Yes':'No'}}</p>
  <p>Has Toothpick: {{result?.hasToothpick?'Yes':'No'}}</p>
  <p>Impact speed: {{result?.impactSpeed}}</p>
  <p>Soundtrack name: {{result?.soundtrackName}}</p>
  <p>Minutes of waiting: {{result?.minutesOfWaiting}}</p>
  <p>Weapon type: {{result?.weaponType}}</p>
  <p>Car name: {{result?.car?.name}}</p>
  <button class="open-button form-button" (click)="this.close(result)">Ok</button>
</div>


